a, a:hover{
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.cfp-link {
    color: $cfp-red;
    font-weight: 800;
    span {
        font-size: .8em;
    }
}

.content {
    .card-wrapper {
        margin: em(100) 0;
    }
    padding-top: em(217);
    padding-bottom: em(300);
}