.fixed {
    .nav {
        position: fixed;
        top: em(-65);
    }
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: em(138);
    .main-logo {
        display: block;
        height: em(201);
        width: em(203);
        img {
            height: em(201);
            width: em(203);
        }
    }
}

.nav-wrapper {
    height: em(138);
    .right-nav-wrapper {
        width: 100%;
    }
    .top-menu {
        padding-top: em(12);
        font-size: em(22);
        height: em(65, 22); 
        width: 100%;
        text-align: right;
        .flaticon-facebook {
            color: $facebook;
        }
        .flaticon-linkedin {
            color: $linkedin;
        }
        .flaticon-twitter {
            color: $twitter;
        }
        .flaticon-youtube {
            color: $youtube;
            margin-right: em(50, 24);
        }
        .flaticon-login {
            color: #333;
        }
        .nav-text {
            margin-left: em(5, 24);
            color: #333;
        }
    }
    &:before {
        content: '';
        position: absolute;
        display: block;
        left: -100%;
        right: 100%;
        border-right: em(15) solid white;
        margin-right: em(-15);
        top: em(65);
        height: em(73);
        background: #192656;
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        left: 100%;
        right: -100%;
        border-left: em(15) solid white;
        margin-left: em(-15);
        top: em(65);
        height: em(73);
        background: #EC1F31;
    }
    #main-nav {
        height: em(73); 
        background: #192656; 
        width: 100%;
        border-left: em(15) solid white;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                float: left;
                padding: em(20, 24);
                font-weight: 800;
                font-size: em(24);
                a {
                    color: white;
                }
                .sub-menu {
                    display: none;
                    li {
                        font-size: em(20, 24);
                        float: none;
                    }
                }
            }
        }
        .menu-item-has-children {
            &:after {
                @extend .fi:before;
                @extend .flaticon-arrow-full:before;
                color: $cfp-red;
                font-size: .5em;
                line-height: 0;
                height: 1em;
                position: relative;
                top: em(-3);
            }
        }
        .menu-item:hover {
            .sub-menu {
                display: block;
                position: absolute;
                width: 25%;
                padding-left: 0;
                margin-left: em(-20, 24);
                background: $cfp-blue;
            }
        }
    }
}